{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}
<!-- Home page with image -->
<div class="hero">
  <div class="hero-text">
    <h1 class="display-4">Welcome to Farm Management Stimulator</h1>
    <p class="lead">Effortlessly manage your farm by tracking paddocks, monitoring DM/ha levels, and moving stock between paddocks. Keep your farm productive and organized!</p>
    <a href="{{url_for('paddocks')}}" class="btn btn-primary">View Paddocks</a>
  </div>
</div>

{% endblock %}