{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}
<!-- Home page with image -->
<div class="hero">
  <div class="hero-text">
    <h1 class="display-4">Welcome to Farm Management Stimulator</h1>
    <p class="lead">Kia ora, Experience the exhilaration of agriculture management like never before by putting yourself in the shoes of a contemporary farmer. You can easily manage your farm by tracking paddocks, keeping an eye on DM/ha levels, and moving stock between paddocks using our user-friendly simulator. Maintain an efficient and well-organized farm!</p>
    <a href="{{url_for('paddocks')}}" class="btn btn-success">View Paddocks</a>
  </div>
</div>

{% endblock %}