{% extends "base.html" %}

{% block title %}FMS - Mobs{% endblock %}
{% block header %}MOBS{% endblock %}

{% block content %}

<div class="container">
    <div class="p-5 bg-body border border-dashed rounded-4 shadow">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Mob Name</th>
                        <th scope="col">Paddock Name</th>
                        <th scope="col">Number of Animals</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for mob in mobs %}
                    <tr>
                        <td>{{ mob.mob_name }}</td>
                        <td>{{ mob.paddock_name }}</td>
                        <td>{{ mob.stock_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}