{% extends "base.html" %}

{% block title %}FMS - Stocks{% endblock %}
{% block header %}STOCKS{% endblock %}

{% block content %}

<!-- Container to list paddock -->
<div class="container">
    <div class="p-5 bg-body border border-dashed rounded-4 shadow">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p></p>
            <!-- Button to trigger edit  modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStockModal">
                Add Stock
            </button>
        </div>
        <!-- looping the stock grouped by mob -->
        {% for mob in grouped_mobs %}
        <div class="border border-dark-subtle rounded p-3 mb-2 shadow-sm bg-body-tertiary">
            <div class="container mb-3">
                <div class="row bg-secondary text-white p-3 rounded align-items-center">
                    <div class="col-md-6">
                        <h2 class="h5 m-0">Mob Name: {{mob.mob_name}}</h2>
                        <p class="mb-1">Paddock: {{mob.paddock_name}}</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <p class="mb-1">Number of Stock: {{mob.stock_count}}</p>
                        <p class="mb-0">Average Weight: {{mob.avg_weight}}</p>
                    </div>
                </div>
            </div>
            <!-- table to view animal detail start -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Animal ID</th>
                            <th scope="col">Age (Years)</th>
                            <th scope="col">Weight (kg)</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for animal in mob.stock %}
                        <tr>
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.age }}</td>
                            <td>{{ animal.weight }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- table to view animal detail end -->
        </div>
        {% endfor %}
    </div>
</div>

<!-- Add New Stock Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" aria-labelledby="addStockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addStockModalLabel">Add New Stock</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add modal with bootstrap validation -->
                <form id="addStockForm" method="POST" action="{{ url_for('add_animal') }}" class="needs-validation"
                    novalidate>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                    </div>
                    <div class="mb-3">
                        <label for="weight" class="form-label">Weight (kg)</label>
                        <input type="number" class="form-control" id="weight" name="weight" required>
                    </div>
                    <div class="mb-3">
                        <label for="mobSelect" class="form-label">Mob Name</label>
                        <select class="form-select" id="mobSelect" name="mob_id" required>
                            <option value="" selected disabled value="">Select a Mob</option>
                            {% for mob in mobs %}
                            <option value="{{mob.id}}">{{mob.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}