{% extends "base.html" %}

{% block title %}FMS - Stocks{% endblock %}
{% block header %}STOCKS{% endblock %}

{% block content %}

<!-- Container to list paddock -->
<div class="container">
    <div class="p-5 bg-body border border-dashed rounded-4 shadow">
        <!-- looping the stock grouped by mob -->
        {% for mob in grouped_mobs %}
        <div class="border border-dark-subtle rounded p-3 mb-2 shadow-sm bg-body-tertiary">
            <div class="container mb-3">
                <div class="row bg-secondary text-white p-3 rounded align-items-center">
                    <div class="col-md-6">
                        <h2 class="h5 m-0">Mob Name: {{mob.mob_name}}</h2>
                        <p class="mb-1">Paddock: {{mob.paddock_name}}</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <p class="mb-1">Number of Stock: {{mob.stock_count}}</p>
                        <p class="mb-0">Average Weight: {{mob.avg_weight}}</p>
                    </div>
                </div>
            </div>
            <!-- table to view animal detail start -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Animal ID</th>
                            <th scope="col">Age (Years)</th>
                            <th scope="col">Weight (kg)</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for animal in mob.stock %}
                        <tr>
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.age }}</td>
                            <td>{{ animal.weight }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- table to view animal detail end -->
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}